@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
font-family: 'Poppins', sans-serif;
margin: 0px;
padding: 0px;
box-sizing: border-box;
scroll-behavior: smooth;
}
header
{
background-color: #f0f0f0;
width: 100%;
position: fixed;
display: flex;
z-index: 1000;
justify-content: space-between;
align-items:center;
padding: 10px 200px;

}
.logo{
  text-decoration: none;
  color: #3a6cf4;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;

}
.navigation a
{
  text-decoration: none;
  color: #3a6cf4;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1em;
  padding-left: 30px;
}
.navigation a:hover{
  color: black;
}
section{
  padding: 100px 200px;
}
.main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("images/im.png")no-repeat;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
}
.main h2
{
  color: white;
  font-size: 1.4em;
  font-weight: 500;
}
.main h2 span
{
  display: inline-block;
  margin-top: 10px;
  color: #4e9eff;
  font-size: 2.0em;
  font-weight: 500;
}
.main h3
{
  color:white;
  font-size: 1.1em;
  font-weight: 200;
  margin-top: 5px;
  margin-bottom: 30px;
}
.main-btn{
color: white;
text-decoration: none;
background-color: #4e9eff;
border-radius: 15px;
padding: 10px 20px;
font-size: 1.1em;
font-weight: 500;
display: inline-block;
letter-spacing: 1px;
margin-bottom: 30px;
transition: 0.9s ease;
}
.main-btn:hover{
   background-color:#0a49f6;
   transform: scale(1.1);
}
.social-icons a{
  color: white;
  display: inline-block;
  font-size: 1.7em;
  padding-left: 30px;
  transition: 0.5s ease;
}
.social-icons a:hover{
  transform: scale(1.1);
}

.title
{
  color: #4e9eff;
  display:flex;
  justify-content: center;
  font-weight: 800;
  font-size: 2.5em;
  margin-bottom: 30px;
}
.content
{
  display:flex;
  justify-content:center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  border-color: #fff;
  width:20em;
  box-shadow: 0 5px 25px rgba(1 1 1/15%);
  padding: 10px 30px;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s;
}
.card:hover{
  transform: scale(1.1);
}
.card img
{
  display: flex;
  justify-content: center;
  border-radius: 15px;
  width: 100%;
}
.icon1
{
  color: #ff4500;
  font-size: 8em;
  display: flex;
  justify-content: center;
}
.icon2
{
  color:#4169e1;
  font-size: 8em;
  display: flex;
  justify-content: center;
}
.icon3
{
  color:#32cd32	;
  font-size: 8em;
  display: flex;
  justify-content:center;

}
.icon4
{
  color:	#ffd700;
  font-size: 8em;
  display: flex;
  justify-content: center;
}
.icon5
{
  font-size: 8em;
  display: flex;
  justify-content: center ;
}
.info
{
  text-align:center;
}

.info h3
{
  color:royalblue;
  font-size:1.1em;
  font-weight:700;
  margin: 10px;
}
.contact
{
  background-color:#000016	;
}
.contact .title
{
  color:#fff;
}
.contact .content
{

  margin-top: 15px;
}
.contact .content .card
{
  padding:40px;
  background-color:#fff	;

}
.contact .content .card .icon1
{
  font-size: 4.5em;
  color: royalblue;
}
.contact .content .card .icon2
{
  font-size: 4.5em;
  color: royalblue;
}
.contact .info h3
{
  color: black;
}
.contact .info p
{

  font-size: 1.2em;
}
.footer
{
  padding: 30px;
  background-color:#fff;
  color:black;
  display: flex;
  justify-content: space-between;
}
.footer .social-icons a
{
  color:steelblue;
}
.footertitle
{
  font-size: 1.4em;
  font-weight: 500;

}
.footertitle span
{
  color:royalblue;
}
